<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to CTE Partners Program</title>
    <!-- Include any CSS or JS here -->
</head>
<body>
    <h1>Welcome to the Career and Technical Education Partners Program</h1>

    <p>This platform allows you to manage and view information about our business and community partners.</p>

    <nav>
        <ul>
            <li><a th:href="@{/partners}">View Partners</a></li>
            <li><a th:href="@{/addpartner}">Add New Partner</a></li>
        </ul>
    </nav>
</body>
</html>
