<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to CTE Partners Program</title>
    <!-- Include any CSS or JS here -->
</head>
<body>
    <h1>Welcome to the Career and Technical Education Partners Program</h1>

    <p>This platform allows you to manage and view information about our business and community partners.</p>

    <nav>
        <ul>
            <li><button type="button" onclick="window.location.href='/partners'">View Partners</button></li>
            <li><button type="button" onclick="window.location.href='/addpartner'">Add New Partner</button></li>
            
        </ul>              
    </nav>
</body>
</html>
