<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- ... -->
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- <link th:href="@{/css/app.css}" rel="stylesheet" /> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap"
        rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- <script th:src="@{/js/app.js}" defer></script> -->
</head>

<body>
    <main class="my-5">
        <div class="container">
            <!-- ... -->
            <div layout:fragment="home" />
            <div layout:fragment="partners" />
            <div layout:fragment="add-partners" />
            <div layout:fragment="login" />
        </div>
    </main>
    
</body>

</html>